=======
# Set environment variables in here.
#
# For development see https://github.com/organizations/CoderDojoSF/settings/applications/34817
#
# Example:
#
# GITHUB_CLIENT_ID=1234567890
# GITHUB_CLIENT_SECRET=1234567890
# GITHUB_TEAM_ID=1234567890
# GITHUB_ORGANIZATION=acme
# MANDRILL_APIKEY=1234567890
# MANDRILL_USERNAME=foo@bar.com
# REPLY_TO_EMAIL=sanfran@coderdojo.com
# TZ=America/Los_Angeles
