<p>Your registration for the Coder Dojo event on <%= @event.start_time.strftime("%A, %B %-d") %> at <%= @event.start_time.strftime("%l:%M%p") %> has been confirmed!</p>

<p>Each student should bring a laptop. If you do not have a laptop we can sometimes provide one but it is not gaurenteed.</p>

<p>You do not need to print this confirmation, just show up.</p>

<h3>Location: GitHub</h3>

<p><%= @event.location %></p>

<p><%= link_to "View the lesson.", lesson_url(@event.lesson) %></p>
