<div class="row">
  <div class="small-12 large-12 columns">
    <h2>Lessons</h2>
    <p>We have a growing collection of past lessons that you can work through and learn from outside of the CoderDojo events.</p>
    <h3><%= link_to "View all lessons", lessons_path %></h3>
  </div>
</div>
