<aside class="past-lessons">
  <h1>Past Lessons</h1>
  <p>We have a growing collection of material from past classes that you can work through and learn from outside of the CoderDojo events.</p>
  <p><%= link_to "View all lessons", lessons_path %></p>
</aside>