<div class="full block clearfix py2">
  <div class="grid two-thirds">
    <h2 class="h2 regular">Past Lessons</h2>
    <p class="mt1">We have a growing collection of material from past classes that you can work through and learn from outside of the CoderDojo events.</p>
    <p class="mt1"><%= link_to "View all lessons", lessons_path %></p>
  </div>
</div>
