<div class="full block clearfix">
  <div class="grid two-thirds py3">
    <h2 class="h2 regular">Past classes</h2>
    <p>We have a growing collection of material from past classes that you can work through and learn from outside of the CoderDojo events.</p>
    <p class="mt1"><%= link_to "View all lessons", lessons_path %></p>
  </div>
</div>
