<section class="home__overview">

  <div class="farewell">
    <h1 id="class-info">&lt;3, CoderDojo SF</h1>

    <p>We’re sad to say that CoderDojoSF will no longer be offering coding classes. We’ve had a ton of fun teaching kids all sorts of code lessons for the last two years. We’d like to thank all of the students that have come to learn with us and all of the mentors that have taken the time to help teach.</p>

    <p>If you would like to continue learning, the <a href="http://coderdojosv.com/">Silicon Valley CoderDojo</a> is still very active. Some of our mentors have also expressed starting mentorship projects of their own. We will announce more details about these opportunities when they are available. There are also some great online resources like <a href="https://diy.org/">DIY.org</a>, <a href="http://www.codecademy.com/">CodeAcademy</a>, <a href="http://www.codecademy.com/">Khan Academy</a> to help you continue exploring.</p>

    <p>While we’ll no longer be creating new classes, our past lessons will continue to live <a href="https://github.com/CoderDojoSF">on GitHub</a>. If you are a potential new Dojo in San Francisco that would like to take over CoderDojoSF’s social properties, domain, etc, please email <a href="mailto:cameron@github.com">cameron@github.com</a>.</p>

  </div>

<%= render partial: "shared/past_lessons" %>
