<div class="organization-blurb row">
  <div class="small-12 large-12 columns">
    <p>
      CoderDojo is a free coding class, held every other Saturday at the GitHub San Francisco office, for kids ages 6–18 years old. We teach all kinds of topics like building websites, video games, chat apps, drawing apps, and many others. Sessions last about two hours and have a short lunch break in the middle. If you would like more information about the CoderDojo organization, or to find one in your area, head over to <a href="http://www.coderdojo.com">http://www.coderdojo.com</a>.
    </p>
  </div>
</div>

<%= render partial: "lessons/lesson", object: @lesson %>

<%= render partial: "shared/past_lessons" %>

<div class="newsletter row">
  <div class="small-12 large-12 columns">
    <h2>Upcoming Events Newsletter</h2>
    <form>
      <div class="row">
        <div class="small-12 large-4 columns">
          <label for="email">Subscribe to the upcoming event newsletter.</label>
        </div>
        <div class="small-12 large-5 columns">
          <input type="text" placeholder="Email address">
        </div>
        <div class="small-12 large-3 columns">
          <button>Subscribe</button>
        </div>
      </div>
    </form>
  </div>
</div>