<section class="grid full block clearfix">
	<div class="px4 py4 center block clearfix mxa">
		<p class="f3 regular">CoderDojo is a free coding class covering everything from basic HTML & CSS, to JavaScript, game development, and web programming. Our Dojo welcomes anyone ages 6–16 years old.</p>
	</div>
</section>
<section class="grid py2 full block clearfix bt-light-gray bb-light-gray">
	<div class="full block mxa clearfix">
		<div class="grid half block py1 mxa">
			<h2 class="px2 regular f4">Register for classes</h2>
        <p class="f2 px2">Dublin to London to Tokyo to San Francisco to New York and everywhere in between! Learners or Mentors click for a list, or start your own, its fun!</p>
    </div>
    <div class="grid half block py1 mxa">
      <h2 class="px2 regular f4">Get involved</h2>
        <p class="f2 px2">Dublin to London to Tokyo to San Francisco to New York and everywhere in between! Learners or Mentors click for a list, or start your own, its fun!</p>
    </div>
	</div>
</section>



<section class="full block clearfix mt2 py2 grid bb-light-gray">
	<h2 class="f5 regular mb1 center">Class time and location</h2>
	<p class="center mb1">Classes last about 3 hours and are held on Saturday's at the <a href="https://github.com/">GitHub</a> San Francisco office.</p>

	<div class="left two-thirds block mxa">
		<iframe width="100%" height="390" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2nd+street+and+brannan+st&amp;aq=&amp;sll=37.763658,-122.437477&amp;sspn=0.169904,0.308647&amp;ie=UTF8&amp;hq=&amp;hnear=Brannan+St+%26+2nd+St,+San+Francisco,+California+94107&amp;t=m&amp;z=14&amp;ll=37.78185,-122.392099&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2nd+street+and+brannan+st&amp;aq=&amp;sll=37.763658,-122.437477&amp;sspn=0.169904,0.308647&amp;ie=UTF8&amp;hq=&amp;hnear=Brannan+St+%26+2nd+St,+San+Francisco,+California+94107&amp;t=m&amp;z=14&amp;ll=37.78185,-122.392099" style="text-align:left">View Larger Map</a></small>
	</div>
	<div class="left one-third block mxa">
		<h3 class="">Time</h3>
		<p class="mb1">Saturday's, 10am-1pm</p>

	<h3>Location</h3>
	<p class="mb1">548 4th Street,<br /> 
	San Francisco, CA 94122</p>

	<h3 class="">What to bring</h3>
	<ul>
		<li>Your ticket</li>
		<li>A packed lunch</li>
		<li>A laptop with Chrome and a text editor installed on it</li>
		<li>A parent! (Very important). If you are 13 or under, your parent must stay with you during the session</li>
	</ul>
	</div>
</section>

<section class="full block clearfix">
<%= render partial: "lessons/lesson", object: @lesson if @lesson.present? %>
</section>

<%= render partial: "shared/past_lessons" %>
