<h2 class="home__heading">CoderDojo is a free coding class covering everything from basic HTML & CSS, to JavaScript, game development, and web programming. Our Dojo welcomes anyone ages 6–16 years old.</h2>

<section class="home__overview">
  
  <h1 id="class-info">Class time and location</h1>
  
  <p>Classes last about 3 hours and are held on Saturdays at the <a href="https://github.com/">GitHub</a> San Francisco office.</p>

  <div class="home__map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.331634670643!2d-122.3912479!3d37.78226709999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858077fe6ae953%3A0x1cf829f1248fb8f4!2s88+Colin+P+Kelly+Jr+St!5e0!3m2!1sen!2sus!4v1393912025943" width="100%" height="420" frameborder="0" style="border:0"></iframe>
  </div>

  <div class="home__class-info">
    <h2>Time</h2>
    <p>Saturdays, 10am—1pm</p>

    <h2>Location</h2>
    <p>88 Colin P Kelly Jr St<br>San Francisco, CA 94107</p>

    <h2>What to bring</h2>
   
    <ul>
      <li>Your ticket</li>
      <li>A packed lunch</li>
      <li>A laptop with Chrome and a text editor installed on it</li>
      <li>A parent! (Very important). If you are 13 or under, your parent must stay with you during the session</li>
    </ul>
  </div>
</section>

<% if @upcoming_events.present? %>
  <h1>Upcoming <%= "Event".pluralize(@upcoming_events.count) %></h1>
  <section class="home__upcoming">
    <% @upcoming_events.each { |event| %>
      <%= render partial: "lessons/lesson", object: event.lesson if event.lesson.present? %>
    <% } %>
  </section>
<% end %>

<section class="home__contact">
  
  <div class="home__newsletter">
    <h1 id="newsletter">Register for updates</h1>
    <p>Sign up to our mailing list to keep up to date with planned classes.</p>
    <%= render partial: "shared/newsletter" %>
  </div>

  <div class="home__get-involved">
    <h1>Get involved</h1>
    <p>If you are interested in being a mentor or teaching a class please get in touch.</p>
    <p><a href="mailto:sanfran@coderdojo.com">Email us</a></p>
  </div>

</section>

<%= render partial: "shared/past_lessons" %>
