<ul class="events">
  <% @events.each do |event| %>
    <li>
      <h2><%= event.title %></h2>
      <p><%= event.start_time.localtime %></p>
      <p><%= link_to 'Edit', edit_event_path(event) %></p>
    </li>
  <% end %>
<ul>
<p>
  <%= link_to 'New Event', new_event_path %>
</p>
