---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/coderdojosf/event-app
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      Last-Modified:
      - Sun, 21 Apr 2013 19:59:45 GMT
      Etag:
      - ! '"a56e1125489237fc726144d0f9d043b2"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: US-ASCII
      string: ! '{"id":8128513,"name":"event-app","full_name":"CoderDojoSF/event-app","owner":{"login":"CoderDojoSF","id":3376135,"avatar_url":"https://secure.gravatar.com/avatar/b917be0458bfd06895c2312bd25219e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png","gravatar_id":"b917be0458bfd06895c2312bd25219e2","url":"https://api.github.com/users/CoderDojoSF","html_url":"https://github.com/CoderDojoSF","followers_url":"https://api.github.com/users/CoderDojoSF/followers","following_url":"https://api.github.com/users/CoderDojoSF/following","gists_url":"https://api.github.com/users/CoderDojoSF/gists{/gist_id}","starred_url":"https://api.github.com/users/CoderDojoSF/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/CoderDojoSF/subscriptions","organizations_url":"https://api.github.com/users/CoderDojoSF/orgs","repos_url":"https://api.github.com/users/CoderDojoSF/repos","events_url":"https://api.github.com/users/CoderDojoSF/events{/privacy}","received_events_url":"https://api.github.com/users/CoderDojoSF/received_events","type":"Organization"},"private":false,"html_url":"https://github.com/CoderDojoSF/event-app","description":"An
        app to run on Heroku that will initially help us with scheduling events on
        Eventbrite.","fork":false,"url":"https://api.github.com/repos/CoderDojoSF/event-app","forks_url":"https://api.github.com/repos/CoderDojoSF/event-app/forks","keys_url":"https://api.github.com/repos/CoderDojoSF/event-app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/CoderDojoSF/event-app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/CoderDojoSF/event-app/teams","hooks_url":"https://api.github.com/repos/CoderDojoSF/event-app/hooks","issue_events_url":"https://api.github.com/repos/CoderDojoSF/event-app/issues/events{/number}","events_url":"https://api.github.com/repos/CoderDojoSF/event-app/events","assignees_url":"https://api.github.com/repos/CoderDojoSF/event-app/assignees{/user}","branches_url":"https://api.github.com/repos/CoderDojoSF/event-app/branches{/branch}","tags_url":"https://api.github.com/repos/CoderDojoSF/event-app/tags{/tag}","blobs_url":"https://api.github.com/repos/CoderDojoSF/event-app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/CoderDojoSF/event-app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/CoderDojoSF/event-app/git/refs{/sha}","trees_url":"https://api.github.com/repos/CoderDojoSF/event-app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/CoderDojoSF/event-app/statuses/{sha}","languages_url":"https://api.github.com/repos/CoderDojoSF/event-app/languages","stargazers_url":"https://api.github.com/repos/CoderDojoSF/event-app/stargazers","contributors_url":"https://api.github.com/repos/CoderDojoSF/event-app/contributors","subscribers_url":"https://api.github.com/repos/CoderDojoSF/event-app/subscribers","subscription_url":"https://api.github.com/repos/CoderDojoSF/event-app/subscription","commits_url":"https://api.github.com/repos/CoderDojoSF/event-app/commits{/sha}","git_commits_url":"https://api.github.com/repos/CoderDojoSF/event-app/git/commits{/sha}","comments_url":"https://api.github.com/repos/CoderDojoSF/event-app/comments{/number}","issue_comment_url":"https://api.github.com/repos/CoderDojoSF/event-app/issues/comments/{number}","contents_url":"https://api.github.com/repos/CoderDojoSF/event-app/contents/{+path}","compare_url":"https://api.github.com/repos/CoderDojoSF/event-app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/CoderDojoSF/event-app/merges","archive_url":"https://api.github.com/repos/CoderDojoSF/event-app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/CoderDojoSF/event-app/downloads","issues_url":"https://api.github.com/repos/CoderDojoSF/event-app/issues{/number}","pulls_url":"https://api.github.com/repos/CoderDojoSF/event-app/pulls{/number}","milestones_url":"https://api.github.com/repos/CoderDojoSF/event-app/milestones{/number}","notifications_url":"https://api.github.com/repos/CoderDojoSF/event-app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/CoderDojoSF/event-app/labels{/name}","created_at":"2013-02-10T21:44:01Z","updated_at":"2013-04-21T19:59:45Z","pushed_at":"2013-04-21T19:59:44Z","git_url":"git://github.com/CoderDojoSF/event-app.git","ssh_url":"git@github.com:CoderDojoSF/event-app.git","clone_url":"https://github.com/CoderDojoSF/event-app.git","svn_url":"https://github.com/CoderDojoSF/event-app","homepage":null,"size":13632,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":5,"forks":0,"open_issues":5,"watchers":1,"master_branch":"master","default_branch":"master","network_count":0,"organization":{"login":"CoderDojoSF","id":3376135,"avatar_url":"https://secure.gravatar.com/avatar/b917be0458bfd06895c2312bd25219e2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png","gravatar_id":"b917be0458bfd06895c2312bd25219e2","url":"https://api.github.com/users/CoderDojoSF","html_url":"https://github.com/CoderDojoSF","followers_url":"https://api.github.com/users/CoderDojoSF/followers","following_url":"https://api.github.com/users/CoderDojoSF/following","gists_url":"https://api.github.com/users/CoderDojoSF/gists{/gist_id}","starred_url":"https://api.github.com/users/CoderDojoSF/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/CoderDojoSF/subscriptions","organizations_url":"https://api.github.com/users/CoderDojoSF/orgs","repos_url":"https://api.github.com/users/CoderDojoSF/repos","events_url":"https://api.github.com/users/CoderDojoSF/events{/privacy}","received_events_url":"https://api.github.com/users/CoderDojoSF/received_events","type":"Organization"}}'
  recorded_at: Mon, 22 Apr 2013 06:13:33 GMT
recorded_with: VCR 2.4.0
