<h1>Create a lesson.json</h1>
<div class="row">
  <div class="col col-lg-6">
    <form action="#" id="json-builder">
      <h3>Lesson Details</h3>
      <dl>
        <dt><label for="title">Title</label></dt>
        <dd><input type="text" name="title" class="input-field" /></dd>
      </dl>
      <dl>
        <dt><label for="summary">Summary</label></dt>
        <dd><textarea name="summary" class="input-field"></textarea></dd>
      </dl>
      <dl>
        <dt><label for="image_url">Image Url</label></dt>
        <dd><input type="text" name="image_url" class="input-field" /></dd>
      </dl>
      <dl>
        <dt><label for="author_github_username">Author GitHub Username</label></dt>
        <dd><input type="text" name="author_github_username" class="input-field" /></dd>
      </dl>

      <h3>Event Details</h3>
      <dl>
        <dt><label for="location">Location</label></dt>
        <dd><input type="text" name="location" class="input-field" /></dd>
      </dl>
      <dl>
        <dt><label for="date">Date and Time</label></dt>
        <dd><input type="text" name="date" class="input-field" /></dd>
      </dl>
      <dl>
        <dt><label for="length">Class Length</label></dt>
        <dd><input type="text" name="length" class="input-field" /></dd>
      </dl>
      <dl>
        <dt><label for="teacher_github_username">Teacher GitHub Username</label></dt>
        <dd><input type="text" name="teacher_github_username" class="input-field" /></dd>
      </dl>
    </form>
  </div>
  <div class="col col-lg-6">
    <h3>Result</h3>
    <dl>
      <dt><label for="result">Generated lesson.json</label></dt>
      <dd><textarea name="result" id="result"></textarea></dd>
    </dl>
  </div>
</div>
