@font-face {
  font-family: 'MenschBold';
  src: url('../assets/fonts/mensch-bold-webfont.ttf'),
       url('../assets/fonts/mensch-bold-webfont.eot'),
       url('../assets/fonts/mensch-bold-webfont.woff'),
       url('../assets/fonts/mensch-bold-webfont.svg');
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../assets/fonts/proximanova-regular-webfont.ttf'),
       url('../assets/fonts/proximanova-regular-webfont.eot'),
       url('../assets/fonts/proximanova-regular-webfont.woff'),
       url('../assets/fonts/proximanova-regular-webfont.svg');
}

@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url('../assets/fonts/proximanova-semibold-webfont.ttf'),
       url('../assets/fonts/proximanova-semibold-webfont.eot'),
       url('../assets/fonts/proximanova-semibold-webfont.woff'),
       url('../assets/fonts/proximanova-semibold-webfont.svg');
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../assets/fonts/proximanova-bold-webfont.ttf'),
       url('../assets/fonts/proximanova-bold-webfont.eot'),
       url('../assets/fonts/proximanova-bold-webfont.woff'),
       url('../assets/fonts/proximanova-bold-webfont.svg');
}