---
http_interactions:
- request:
    method: post
    uri: https://api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: ! '{"id":"fake_list","email":{"email":"jonmagic@gmail.com"},"merge_vars":null,"email_type":"html","double_optin":true,"update_existing":false,"replace_interests":true,"send_welcome":false,"apikey":"MAILCHIMP_API_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '

        {"status":"error","code":200,"name":"List_DoesNotExist","error":"Invalid MailChimp
        List ID: testing"}'
  recorded_at: Mon, 25 Nov 2013 03:49:06 GMT
recorded_with: VCR 2.4.0
