---
http_interactions:
- request:
    method: post
    uri: https://api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: ! '{"id":"ANNOUNCEMENTS_LIST_ID","email":{"email":"jonmagic@gmail.com"},"merge_vars":null,"email_type":"html","double_optin":true,"update_existing":false,"replace_interests":true,"send_welcome":false,"apikey":"MAILCHIMP_API_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '

        {"email":"jonmagic@gmail.com","euid":"a5f52e2a40","leid":"81465305"}'
  recorded_at: Mon, 25 Nov 2013 03:42:00 GMT
recorded_with: VCR 2.4.0
